* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Alfa Slab One', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Roboto', sans-serif; */

body {
    background-image: url("https://i.pinimg.com/originals/11/1a/03/111a03133d14214539c96e0f657dff1a.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    font-size: 10px;
}

/* se a tela tiver pelo menos X px vai carregar esses estilos (breakpoint) */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  section .grid,
  section .grid_icons {
    grid-template-columns: repeat(2, 240px);
    text-align: center;
  }
}

@media (min-width: 880px) {
  section .grid,
  section .grid_icons {
    grid-template-columns: repeat(3, 240px);
  }
}

@media (min-width: 1230px) {
  section .grid,
  section .grid_icons {
    grid-template-columns: repeat(4, 240px);
  }
}

@media (min-width: 1230px) {
  .sobre,
  .contato,
  .grid,
  section {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  transform: scale(0.2) translateY(30vh);
  opacity: 0;
  animation: linear .5s Atitulo forwards;
}

@keyframes Atitulo {
  100% {
    transform: scale(1) translateY(0vh);
    opacity: 1;
  }
}

head {
    font-style: italic;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
}

section {
  font-family: 'Amatic SC', cursive;
  font-size: 1.4em;
  color: #1E90FF;
  padding: 2em;
}

section h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

section .grid {
  display: grid;
  gap: 2em;
  color: whitesmoke;
}

section figure {
  text-align: center;
}

section .grid_icons {
  display: grid;
  gap: 2em;
}

.grid_icons i {
  color: #6A5ACD;
  font-size: 1.5em;
}

.menu {
    background-color: #4169E1;  
    position: fixed;
    width: 100vw;
    top: 0;  
}

.menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #5baaeb;
  transition: background-color 0.5s, color 0.5s;
}

.menu a:hover {
background-color:	#5baaeb;
color: #4169E1;
}

.a {
  color: #66CDAA;
}

.menu li {
  list-style: none
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.site-title {
  color: #4169E1;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: 3.5em;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Amatic SC', cursive;
  color: #4169E1;
  text-align: center;
}

.sub {
  font-style: italic;
  font-family: 'Amatic SC', cursive;
  color: #4169E1;
  text-align: center;
  font-size: 1.5em;
}

.img-portfolio {
  width: 220px;
  height: 150px;
  object-fit: cover;
  border-radius: 100px;
  transition: transform 0.2s;

}

.img-portfolio:hover {
  transform: scale(1.05) rotate(1deg);
}

.grid_icons a {
  color: whitesmoke;
  text-decoration: none;
  transition: text-shadow 0.2s;
 
}

.contato a:active,
.contato a:hover {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.8);

}

.sobre .avatar {
  float: right;
  margin-left: 2em;
}

.sobre .avatar img {
  clip-path: polygon(25% 0%, 90% 0, 90% 100%, 25% 100%, 0% 50%);
}

.sobre div {
  color: #4169E1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  text-indent: 1.2em; 
  margin-bottom: 1em;
  text-align: justify;
}

.im {
  color: whitesmoke;
}



